{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    {# Enlaza tu archivo CSS externo #}
    <link rel="stylesheet" href="{% static 'inicio/css/login_style.css' %}">
    <link rel="stylesheet" href="{% static 'inicio/css/header_style.css' %}">

</head>

<header class="main-header">
        <div class="header-content">
            {# Aquí irá tu contenido específico del header para la temática de reciclaje #}
            {# Por ejemplo, un título para tu sitio o un logo #}
            <h1 class="site-title">Comunidad Verde</h1>
            </div>
</header>
<h1 style="padding-top: 5;">Bienvenidos de nuevo</h1>
<body>
    
    <div class="main-container">
        <form class="form">
            <div id="background-color"></div>
            <div id="login-area">
                <p>Login</p>
            </div>
            <div id="whitefilter"></div>

            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div id="email-area">
                    <p><label for="{{ form.username.id_for_label }}">Usuario:</label></p>
                    {{ form.username }}
                </div>

                <div id="password-area">
                    <p><label for="{{ form.password.id_for_label }}">Contraseña:</label></p>
                    {{ form.password }}
                    
                </div>
                <div class="#recover-password">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <div id="footer-area">
                    <button type="submit">Entrar</button>
                </div>
                 <div id="text-inside">
                        <p>¿No tienes cuenta?</p> 
                        <a id="link" href="{% url 'registro' %}">Regístrate</a>
                </div>
            </form>
        </form>
    </div>
</body>
</html>