{# templates/inicio/registro.html #}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {# --- ENLACE A TUS CSS --- #}
    <link rel="stylesheet" href="{% static 'inicio/css/header_style.css' %}">
    <link rel="stylesheet" href="{% static 'inicio/css/register_style.css' %}">
    <link rel="stylesheet" href="{% static 'inicio/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700&display=swap" rel="stylesheet">
    
</head>

{# --- ESTRUCTURA DEL HEADER (viene de style.css) --- #}

<body> {# El body DEBE contener el header y el main #}


    <main class="body_inicio">
        <h1 class="sub-titulo">
            <img src="{% static 'images/logo.png' %}" alt="LOGO">
            <br>
            ¿Cómo desea registrarse?
        </h1>
        <div class="button-group">
                {# Formulario para Registrar como Voluntario #}
                <form action="{% url 'registro_voluntario' %}" method="get" class="button-form">
                    <button type="submit" class="button"><p class="sub-titulo">Registrar como Voluntario</p></button>
                </form>

                {# Formulario para Registrar como Organización #}
            <form action="{% url 'registro_organizacion' %}" method="get" class="button-form">
                <button type="submit" class="button "><p class="sub-titulo">Registrar como Organización</p></button>
            </form>

        </div>
    </main>

</body>
</html>
            

            
            
                  